body{
    font-family: "Poppins", serif;
}

.bg-bk{
    background-color: #202124;
}

.bg-grey{
    background-color: #f9fafb;
}

.log{
    max-width: 50%;
}

.img-menu{
    max-width: 30%;
}

.card{
    border: none;
}